# Mint kernel configuration
CONFIG_MINT=y
CONFIG_MINT_SESL=y
# CONFIG_MINT_AOSP is not set

# SCSC WLAN options
CONFIG_SCSC_WLBTD=y
CONFIG_SCSC_WRITE_INFO_FILE_WLBTD=y
CONFIG_SCSC_WLAN_MAC_ADDRESS_FILENAME="/efs/wifi/.mac.info"
CONFIG_SCSC_WLAN_MAX_INTERFACES=3
CONFIG_SCSC_AP_INTERFACE_NAME="swlan0"

# Samsung MTP
CONFIG_USB_ANDROID_SAMSUNG_MTP=y

# Memory management (MM)
CONFIG_LRU_GEN=y
# CONFIG_LRU_GEN_ENABLED is not set
# CONFIG_LRU_GEN_STATS is not set
CONFIG_OPLUS_MM_HACKS=y
